<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!-- Latest compiled and minified CSS -->   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css"> 

</head>
<body>
    <div id="slideContainer"></div>
    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Happnnnnn</a>
              </div>
              
              
            </div><!-- /.container-fluid -->
        </nav>

        <div class="row">
            <div class="col-md-8">
                <h1>Administration</h1>
            </div>
            
            <div class="col-md-4" style="margin-top:16px;">
                <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="home.html">Admin</a></li>
                    <li role="presentation" ><a href="../home.html">Gå til frontend</a></li>  
                    <li role="presentation" ><a href="myProfile.html">Log ud</a></li>     
                </ul>
            </div>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">Antal brugere</div>
                    <div class="panel-body">
                      <span style="font-size:30px">20</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">Antal mænd</div>
                    <div class="panel-body">
                      <span style="font-size:30px">11</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">Antal kvinder</div>
                    <div class="panel-body">
                      <span style="font-size:30px">9</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">Gennemsnitsalder</div>
                    <div class="panel-body">
                      <span style="font-size:30px">27</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <hr>
        </div>

        <div class="row">         
            <div class="col-md-12   ">
                <h2>Alle brugere</h2>
                <hr>
                <form class="form-inline">
                    <div class="form-group">
                      Søg efter 
                      <select name="" id="" class="form-control">
                          <option value="female">kvinder</option>
                          <option value="female">mænd</option>
                          <option value="female">mænd og kvinder</option>
                      </select>
                    </div>
                    <div class="form-group">
                        i alderen: 
                        <input type="number" min="18" max="99" class="form-control filterAge"> til 
                        <input type="number" min="18" max="99" class="form-control filterAge">
                    </div>
                    <button type="submit" class="btn btn-default">Søg</button>
                  </form>
                <hr>
                <table id="" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fornavn</th>
                            <th>Efternavn</th>
                            <th>Køn</th>
                            <th>Alder</th>
                            <th>Billede</th>
                            <th>Rediger</th>
                            <th>Slet</th>
                        </tr>
                    </thead>
                    <tbody id="allUsersAdmin">
                        
                    </tbody>
                    
                  </table>
            </div>    
        </div>
    </div>

    <script src="../scripts/data.js"></script>
</body>
</html>