<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form id="loginForm" method="GET" action="">
        <input type="email" name="loginEmail" id="loginEmail" placeholder="Indtast e-mail">
        <input type="password" name="loginPassword" id="loginPassword" placeholder="Indtast kodeord">
        <button type="submit" name="loginSubmit" id="loginSubmit">Login</button>
    </form>
    
    <script src="js/index.js"></script>
</body>
</html>