table.table tr th:nth-child(5) {
    text-align: center;
}

table.table tr td {
    vertical-align: middle;
}

table.table tr td:nth-child(5) {
    width: 100px;
    padding: 10px 20px;
}
table.table tr td:nth-child(6) {
    width: 100px;
    padding: 10px 20px;
}

.imgContainer {
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.imgContainer img {
    min-width: 100px;
    margin-left: -10px;
}
.likeIcon {
    width: 100px;
    text-align: center;
}

.glyphicon-heart:before {
    font-size: 22px;
}

.glyphicon-heart:hover {
    color: red;
    cursor: pointer;
}

.glyphicon-remove:hover {
    color: red;
    cursor: pointer;
}

/* Home */
.filterAge {
    width: 62px !important;
}

/* Profile Page */
h2.profileName {
    display: inline;
}
.profileImage {
    width: 100%;
}
.matchBtnContainer {
    position: absolute;
    top: 3px;
    right: 17px;
    float: right;
}
.matchBtnContainer button {
    background: #c50000;
    border: none;
    color: white;
    padding: 5px 10px 4px;
}
.matchBtnContainer button span {
    margin-top: 2px;
} 
.its-a-match {
    top: -2px;
    position: relative;
    font-size: 11px;
    color: green;
}
.its-a-match:hover {
    cursor: pointer;
    color: grey;
}
.profileTable {
    margin-top: 8px;
}
table.profileTable tr td {
    vertical-align: top;
}
table.profileTable tr td:nth-child(1) {
    width: 130px;
    display: block;
}
table.profileTable tr td:nth-child(2) {
    width: 100%;
}
/* My matches */
#myMatches .likeIcon span {
    color: #5bc0de;
}