<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="./homePage.css">
    
</head>

<header class="header">
    <nav class="navigation">
      <a class="profile__link" href="./profile.html"> My Profile </a>
      <a class="logOut__link" href="./signUpPage.html"> Log out </a>
    </nav>
  </header>

<body>
    <div class="Header">
    <h1>Swipe to see who likes you back</h1>   
    </div>
</body>
</html>

<script src="./homePage.js"></script>